@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="number"],
    input[type="url"],
    input[type="date"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="search"],
    input[type="tel"],
    input[type="checkbox"],
    input[type="radio"],
    select,
    select[multiple],
    textarea {
        @apply ring-0  outline-none focus:ring-1 focus:ring-dodge-blue focus:outline-none focus:border-0 rounded-md;
    }
}

body {
    max-width: 100vw;
    overflow-x: hidden !important;
}
._shadow {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.09);
}

.no-scroll::-webkit-scrollbar {
    display: none !important;
}

.shadow-all:hover {
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
}

.images-carousel {
    animation: scroll 45s linear infinite;
}

.images-carousel:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 10));
    }
}
.images-carousel-container {
    position: relative;
}

.images-carousel-container::before,
.images-carousel-container::after {
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 100%;
    position: absolute;
    width: 8%;
    z-index: 2;
}

.images-carousel-container::before {
    left: 0;
    top: 0;
}
.images-carousel-container::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

@layer components {
    /* .container{
        @apply max-w-[95%] px-5 md:px-8 lg:px-10 sm:max-w-[748px] md:max-w-[1000px] lg:max-w-[1200px] mx-auto;
    } */
}

.home .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
}

.home .swiper-pagination-bullet-active {
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.swiper-button-next,
.swiper-button-prev {
    /* background-color: #fff; */
    color: #fff !important;
    position: absolute;
    top: 0px;
    right: 40px!important;
}
@media screen and (max-width: 900px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
}
